.game {
  text-align: center;
  margin-top: 50px;
  font-family: sans-serif;
}

.board {
  display: inline-block;
}

.board-row {
  display: flex;
}

.square {
  width: 80px;
  height: 80px;
  font-size: 2rem;
  border: 2px solid black;
  cursor: pointer;
  background: #fff;
}
.status {
  margin-bottom: 15px;
  font-size: 1.3rem;
  font-weight: bold;
}
